@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root{
    --peach-yellow: #fcde9cff;
    --russian-violet: #231651ff;
    --pink-lavender: #efbdebff;
    --paynes-gray: #5d737eff;
    --steel-blue: #4d7ea8ff;
}

body
{
    
    background-color: var(--pink-lavender);
}

.text-primary{
    color: var(--russian-violet)
}

.nav-link {
    color:var(--russian-violet);
}

.nav-link:hover{
    color: var(--peach-yellow)
}

.servicesBGImage{
    height:100vh;
    background: url('Sources/Img3.png');
    background-size:cover;
    position:relative;
}

.aboutBGImage{
    height:100vh;
    background: url('Sources/Img2.png');
    background-size:cover;
    position:relative;
}

/* hero background image */
.heroBGImage {
    height:100vh;
    background: url('Sources/Img1.png');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--russian-violet);
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.col-lg-8
{
    color: var(--russian-violet)
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: var(--russian-violet);
}
.servicesText:hover {
    border: 2px solid var(--russian-violet);
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: var(--paynes-gray);
}

.sticky-top{
    background-color: var(--paynes-gray);
}

/* spacing on all sections */
#about, #services{
    margin-top: 4rem;
    padding-top: 4rem;
}