@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body
{
    background-color: var(--peach-yellow);
}



:root{
    --peach-yellow: #fcde9cff;
    --russian-violet: #231651ff;
    --pink-lavender: #efbdebff;
    --paynes-gray: #5d737eff;
    --steel-blue: #4d7ea8ff;
}

header {
    background: var(--pink-lavender);
    border: 5px solid var(--paynes-gray);
    margin: 10px;
  }
  

.center {
    margin: auto;
    text-align: center;
  }

h1
{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
    color:var(--russian-violet);


}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
   
    margin-top: 10px;
}

body{
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

iframe{
    margin-left: 50px;
    margin-top: 10px;
}
#links {

    top:60px;
    bottom:60px;
    left:20px;
    width:100%;
    text-align:left;
    z-index:100
   }
#links a,
#links button {
 font-family: 'Lato';
 letter-spacing:2px;
 font-weight:900;
 font-size:18px;
 display:inline-block;
 border:none;
 margin:4px 4px 0;
 cursor:pointer;
 color:#fff;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 background:-webkit-linear-gradient(var(--paynes-gray),var(--steel-blue));
 background:-moz-linear-gradient(var(--paynes-gray),var(--steel-blue));
 background:linear-gradient(var(--paynes-gray),var(--steel-blue));
 padding:8px 20px
}
#links a:hover,
#links button:hover {
 background:-webkit-linear-gradient(rgba(200,60,60,.4),rgba(200,60,60,.8));
 background:-moz-linear-gradient(rgba(200,60,60,.4),rgba(200,60,60,.8));
 background:linear-gradient(rgba(200,60,60,.4),rgba(200,60,60,.8))
}

#logo {
    left:0;
    top:-30px;
    z-index:1;
    -webkit-animation:logo 1s ease-in-out infinite alternate;
    animation:logo 1s ease-in-out infinite alternate;
   }
   @keyframes logo {
    from {
     transform:translateY(0)
    }
    to {
     transform:translateY(20px)
    }
   }